header {
    display: flex;
    justify-content: flex-end;
}
.cart-button {
    margin: 20px;
}
main {
    display: flex;
    border: double;
}
.goods-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 50px;
}
.goods-item {
    border: solid;
    width: 100px;
    border-radius: 10px;
    background-color: grey;
    text-align: center;
}
